{% load static %}
{% load app_template_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Explore Glasgow
            {% block title_block %}
                Title
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styling/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- for icons -->
        {% block additional_styles %}{% endblock %}
        {% block additional_js %}{% endblock %}
        <script src="{% static 'javascript/main.js' %}"></script>
    </head>

    <body>
        <header>
            <nav>
              <div class="left-links">
                <a href="{% url 'app:index' %}">Index</a> |
                <a href="{% url 'app:places' %}">Places</a> |
                <a href="{% url 'app:events' %}">Events</a> |
                <a href="{% url 'app:activities' %}">Activities</a> |
                <a href="{% url 'app:about-us' %}">About Us</a>
              </div>
              <div class="right-links">
                <a href="/maps"><i class="fas fa-map-marked-alt" aria-hidden="true"></i></a> |
                <a href="/language"><i class="fas fa-language" aria-hidden="true"></i></a> |
                <!-- Conditional display based on authentication status -->
                {% if request.user.is_authenticated %}
                    <a href="{% url 'app:logout' %}"><i class="fas fa-user-circle" aria-hidden="true"></i></a> 
                {% else %}
                    <a href="{% url 'app:login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login/Sign Up</a>
                {% endif %}
            </div>
            </nav>
        </header>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr/>
    </body>
</html>
