{% load static %}
{% load app_template_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Explore Glasgow
            {% block title_block %}
                Title
            {% endblock %}
        </title>
        <link rel = "stylesheet" href="{% static 'styles.css' %}">
        <script src = "{% static 'main.js' %}"></script>
    </head>

    <body>
        <div>
            {% block navbar %}
            <header>
                <nav>
                  <div class="left-links">
                    <a href="{% url 'app:index' %}">Home</a> |
                    <a href="{% url 'app:places' %}">Places</a> |
                    <a href="{% url 'app:events' %}">Events</a> |
                    <a href="{% url 'app:activities' %}">Activities</a> |
                    <a href="{% url 'app:about-us' %}">About Us</a>
                  </div>
                  <div class="right-links">
                    <a href="/map"><img src="{% static 'images/maps.png' %}" alt="maps"></a> |
                    <a href="/language"><img src="{% static 'images/language.png' %}" alt="language"></a> |
                    <a href="/login"><img src="{% static 'images/account.jpg' %}" alt="account"></a>
                  </div>
                </nav>
              </header>
            {% endblock %}
        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            {% block user_block %}
            <ul>
                {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><a href="{% url 'app:logout' %}">Logout</a></li>
                {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'app:register' %}">Sign Up</a></li>
                <li><a href="{% url 'app:login' %}">Login</a></li>
                {% endif %}
                <!-- Outside the conditional statements, ALWAYS show -->
                <li><a href="{% url 'app:restricted' %}">Restricted Page</a></li>
            </ul>
            {% endblock %}
        </div>
    </body>
</html>