{% load static %}
{% load app_template_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Explore Glasgow: 
            {% block title_block %}
                Title
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styling/base.css' %}">
        <link rel="stylesheet" href="{% static 'styling/overlay.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- for icons -->
        {% block additional_styles %}{% endblock %}
        {% block additional_js %}{% endblock %}
        <script src="{% static 'javascript/main.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div class="left-links">
                    <a href="{% url 'app:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Index</a>
                    <a href="{% url 'app:places' %}" class="{% if request.resolver_match.url_name == 'places' %}active{% endif %}">Places</a>
                    <a href="{% url 'app:events' %}" class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}">Events</a>
                    <a href="{% url 'app:activities' %}" class="{% if request.resolver_match.url_name == 'activities' %}active{% endif %}">Activities</a>
                    <a href="{% url 'app:about-us' %}" class="{% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">About Us</a>
                </div>
                <div class="right-links">
                    <!-- New Create New Plan Button -->
                    <a onclick="addNewPlan()" class="create-plan-btn"><i class="fas fa-plus-circle"></i> Create New Plan</a>
                    <a href="{% url 'app:map' %}" class="{% if request.resolver_match.url_name == 'map' %}active{% endif %}"><i class="fas fa-map-marked-alt" aria-hidden="true"></i></a> 
                    <!-- Conditional display based on authentication status -->
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'app:my_account' %}" class="{% if request.resolver_match.url_name == 'my_account' %}active{% endif %}">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'app:logout' %}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                {% else %}
                    <a href="{% url 'app:login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Login</a>
                    <a href="{% url 'app:register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">Register</a>
                {% endif %}
                </div>
            </nav>
        </header>        
        <div>
            <!-- Popup Form for Event Time Selection -->
            <div id="time-picker-popup" class="time-picker-popup" style="display:none;">
                <form id="add-activity-form">
                    <label for="activity-time">Select Event Time:</label>
                    <input type="time" id="activity-time" name="activity-time" required>
                    <button type="submit">Add Event</button>
                </form>
            </div>
            <div id="overlay">
                <span class="close-overlay" onclick="closeOverlay()">&times;</span>
                <h1 id="inputted-title" contenteditable="true">INSERT PLAN TITLE</h1>
                <h4 id="inputted-date" contenteditable="true">YYYY-MM-DD</h4>
                <div class="columns">
                  <div class="column">
                    <!-- Search Events with Plus Button -->
                    <form id="event-form">
                        <div class="input-group">
                            <input type="text" class="search-database" id="search-events" name="add-events-to-plan" placeholder="Search events..." autocomplete="off" oninput="event_autocomplete()">
                            <button id="add-event" type="submit"><i class="fas fa-plus"></i></button>
                            <input type="hidden" id="selected-event-id" name="selected_event_id">
                            <div id="autocomplete-results" class="autocomplete-results"></div>
                        </div>
                    </form>
                    
                    
                    <!-- Search Activities with Plus Button -->
                    <div class="input-group">
                        <input type="text" class="search-database" id="search-activities" name="add-activities-to-plan" placeholder="Search activities..." autocomplete="off" oninput="activity_autocomplete()">
                        <button onclick="addActivity()"><i class="fas fa-plus"></i></button>
                        <div id="autocomplete-results-activities" class="autocomplete-results"></div>  <!-- Container for displaying activity suggestions -->
                    </div>
                
                    <!-- Is Public Toggle and Post Plan Button on the same line -->
                    <div class="action-row">
                        <div class="public-toggle">
                            <label for="is-public">Is Public:</label>
                            <label class="switch">
                                <input type="checkbox" id="is-public">
                                <span class="slider round"></span>
                            </label>
                        </div>
                
                        <button class="post-plan" onclick="postPlan()"><i class="fas fa-circle-arrow-up"></i> Post Plan</button>
                    </div>
                </div>
                
              
                  <div class="column">
                    <div class="calendar">
                      <div class="timeline">
                          <!-- Time Markers -->
                          <div class="time-marker">12 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">1 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">2 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">3 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">4 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">5 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">6 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">7 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">8 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker" id="time-9am">9 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">10 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">11 AM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">12 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">1 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">2 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">3 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">4 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">5 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">6 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">7 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">8 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">9 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">10 PM</div>
                          <div class="time-marker"></div>
                          <div class="time-marker">11 PM</div>
                          <div class="time-marker"></div>
                      </div>
                      <div class="events">

                      </div>
                    </div>
                    
                    
                    </div>
                  </div>
                </div>
              </div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr/>
    </body>
</html>
