{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'styling/index.css' %}">
{% endblock %}

{% block body_block %}


<section>
  <div>
    <div class="form-fields">
      <label for="new-plan-title">Plan Title</label>
      <input type="text" id="new-plan-title" name="new-plan-title">
      <label for="new-plan-date">Date</label>
      <input type="date" id="new-plan-date" name="new-plan-date">
    </div>
    <button onClick="addNewPlan()">Add New Plan</button>
  </div>
</section>

  <section>
    <h2>Browse Plans</h2>
    <div class="plan-card">
      <img src="path-to-your-image.jpg" alt="Plan Image">
      <div class="details">
        <h3>Plan Title</h3>
        <p>Brief description</p>
        <p>4h:30m - £15 @username</p>
      </div>
    </div>
  <!--plan models will exist here -->
  </section>

<footer>
<p>Top 20 Plans</p>
<!--actual plans yet to be added -->
</footer>

{% endblock %}