{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    Places
{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'styling/listings.css' %}">
{% endblock %}

{% block body_block %}
<h1>Places in Glasgow</h1><br>

<div class="grid-container">
  {% block topbar %}
    <div class="header">
      <ul class="inline">
        {% for category in categories %}
          <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endblock %}
  
  <div class="left" style="background-color:#bbb;">
    <form action="#">
      <!--Get all defined Tag objects-->
      {% for tag in tags %}
        <input type="checkbox" id="{{ tag.id }}" name="{{ tag.name }}" value="{{ tag.name }}">
        <label for="{{ tag.id }}">{{ tag.name }}</label><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="right" style="background-color:#eee;">
    <ul>
      {% for place in places %}
      {% block listing %}
        <li class="listing-box" style="background-color:#fff;">
          <strong>{{ place.name }}</strong>
          <div style="height: 200px;"><img src="IMAGE PATH" alt="Picture of {{ place.name }}"></div>

          <ul class="inline">
            {% for category in place.categories %}
              <li style="color: #7a0000;">{{ category.name }}</li>
            {% endfor %}
          </ul>
          <br>
    
          <ul class="inline">
            {% for tag in place.tags %}
              <li style="color: #003f7a">{{ tag.name }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endblock %}
      {% endfor %}
      </ul>
  </div>
</div>

{% endblock %}