* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the content */
    .content {
    background-color: #ddd;
    padding: 10px;
    }

    section, footer {
      margin: 25px;
      padding: 10px;
      border: 1px 
    }
  
    .plan-card {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    }
    .plan-card img {
    max-width: 100%;
    height: auto;
    }

    .plan-card .details {
    padding: 5px;
    }
  
    nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    }

    /* Style the topnav links */
    nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    }

    /* Change color on hover */
    nav a:hover {
    background-color: #858585;
    color: white;
    }

    nav a:focus {
    background-color: #3d3d3d;
    color: white;
    }
  
    .left-links,
    .right-links {
    display: flex;
    }
  
    .left-links a,
    .right-links a {
    margin-right: 10px; /* Adjust spacing between links */
    }
  
    .right-links a {
    width: 40px;
    height: 50px;
    }
  
    .right-links a img {
    width: 100%;
    height: 100%;
    }
  
    .right-links a:last-child {
    margin-right: 0; /* Remove margin from the last link */
    }