section, footer {
  margin: 25px;
  padding: 10px;
  border: 1px 
}

.plan-card {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.plan-card img {
  max-width: 100%;
  height: auto;
}

.plan-card .details {
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  font-size:30px;
}

.left-links a,.right-links a {
  margin-right: 20px; /* Adjust spacing between links */
  color:rgb(104, 54, 54);
}

header {
  border:1px solid black;
  padding:10px 10px;
  width:100%;
}

body {
  margin:0;
  padding:0;
}