/* Form section styling */
section {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  margin: 20px 0; /* Adjusts the margin for vertical spacing */
  padding: 10px 0; /* Padding for visual breathing room */
}

/* Updated form box styling to accommodate side-by-side layout */
section > div {
  display: flex; /* Enables Flexbox layout */
  justify-content: space-between; /* Spaces out the child elements */
  align-items: center; /* Centers the items vertically */
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px; /* Softens the corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds depth with a soft shadow */
  padding: 20px; /* Inner spacing */
  width: 80%; /* Adjust the width as needed */
  max-width: 650px; /* Ensures the form doesn't get too wide on larger screens */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

/* Form fields container for title and date */
.form-fields {
  display: flex; /* Enables Flexbox layout within the fields container */
  justify-content: start; /* Aligns children to the start */
  align-items: center; /* Centers the items vertically */
  width: 70%; /* Adjusts the width, making form elements narrower than their container */
}

/* Form element styling for alignment and spacing */
section > div .form-fields input,
section > div .form-fields label {
  margin: 0 10px 0 0; /* Adds right margin for spacing */
  width: auto; /* Adjusts the width, making form elements auto width within their container */
  text-align: left; /* Aligns the text to the left */
}

/* Button styling to match minimalist theme and add hover effect */
section > div button {
  cursor: pointer; /* Changes the cursor to indicate clickable */
  background-color: #8d5d5d; /* Button color */
  color: #ffffff; /* Text color */
  border: none; /* Removes border */
  padding: 10px 20px; /* Adds padding */
  border-radius: 5px; /* Rounds the corners */
  font-size: 16px; /* Adjusts font size */
  margin-left: auto; /* Pushes the button to the right side */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

section > div button:hover {
  background-color: #7a4c4c; /* Darker shade for hover effect */
}

/* Correcting label visibility */
section > div label {
  visibility: visible; /* Ensures labels are visible */
}
